/* uses the Adwaita theme as base */
@import url("resource:///org/gtk/libgtk/theme/Adwaita/gnome-shell.css");

#panelActivities > *,
#panelActivities:hover > *,
#panelActivities:focus > *,
#panelActivities:active > *,
#panelActivities:overview > *,
#panel:overview #panelActivities.panel-button:active > *,
#panel:overview #panelActivities.panel-button:focus > * {
  background-image: url("activities.svg");
  background-position: center top;
  width: 24px;
  height: 24px;
  background-color: transparent !important;
  background-gradient-direction: none !important;
  border: 0 solid transparent !important;
  text-shadow: 0 0 transparent !important;
  transition-duration: 0ms !important;
  box-shadow: none !important;
  color: transparent; }
